# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.log
/.env
/.env.*.local
Homestead.yaml
Homestead.json
/public/js/app.js
/public/css/app.css
/public/mix-manifest.json
/public/build
/public/vendor

# IDE and OS specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp

# Composer
/composer.lock

# NPM
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# PHPUnit
/phpunit.xml
/phpunit.xml.dist

# Laravel 8+ specific
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*

# Other files
/public/storage
